<%= form_with(model: goods_review) do |form| %>
  <% if goods_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goods_review.errors.count, "error") %> prohibited this goods_review from being saved:</h2>

      <ul>
        <% goods_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="row">
        
        <div class="col-md-8 border text-center">
            if 
            <div id="img"></div>
            <script>
                function preview(obj) {
                
                // 選択した全てのファイルに対してループ処理をします。
                for (i = 0; i < obj.files.length; i++) {
                    // FileReaderオブジェクトを作成します。これによりブラウザ上でファイルを読み込むことが可能になります。
                    let fileReader = new FileReader();
                    // onloadイベントハンドラを設定します。ファイルが正常に読み込まれたときに呼び出されます。
                    fileReader.onload = ((e)=> {
                        // 読み込んだ画像ファイルをData URLとしてimg要素に設定します。
                        // これにより、選択した画像がブラウザ上でプレビュー表示されます。
                        document.querySelector('#img').innerHTML = '<img src="' + e.target.result + '"  width="100" height="100" class="rounded-circle border">';
                    kamera = document.getElementById("kamera");
                    kamera.style.display = 'none';
                    });
                    // ファイルをData URLとして読み込みます。
                    fileReader.readAsDataURL(obj.files[i]);
                    }
                }
            </script>
             <div class = "col-md-6">
                 <%= image_tag '/images/railskame.jpg',size:'150x110',id:"kamera" %>
             </div>
            <%= form.label :review_image , "アイコンを選択", class: "btn btn--form" %>
            <%= form.file_field :review_image , :size=>"40", class: "form_file" ,onchange:"preview(this);" %>
        </div>
    </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

    <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price %> 
    </div>  
      
  
  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.map { |category| [category.name, category.id]} %> 
  </div>

  <%# <div class="field">
    <%= form.label :user_id %>
    <%# <%= form.number_field :user_id %>
  <%# </div> %>

  <%# <div class="field">
    <%= form.label :group_id %>
    <%# <%= form.number_field :group_id %>
  <%# </div>  %>

  <div>
    <%= session["selected_group_id_#{current_user.id}"]%>
  </div>

  <div class="field">
    <%= form.label :evaluation %>
    <%= form.select :evaluation, GoodsReview.evaluations.keys.to_a, {include_blank: true}, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
