<%= form_with(model: goods_review) do |form| %>
  <% if goods_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goods_review.errors.count, "error") %> prohibited this goods_review from being saved:</h2>

      <ul>
        <% goods_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :review_image %>
    <%= form.text_field :review_image %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="field">
    <%= form.label :evaluation %>
    <%= form.number_field :evaluation %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
