<%= form_with(model: goods_review, class: "container mt-5") do |form| %>
  <% if goods_review.errors.any? %>
  
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(goods_review.errors.count, "error") %> prohibited this goods_review from being saved:</h4>

      <ul>
        <% goods_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="text-center mb-4">レビュー作成</h2>

  <div class="form-group mb-3">
    <%= form.label :title, "商品名（必須）", class: "form-label" %>
    <%= form.text_field :title, placeholder: "商品の名前を入力してください", class: "form-control" %>
  </div>

  <div class="row">
        
        <div class="col-md-8 border text-center">
           
            <div id="img"></div>
            <script>
                function preview(obj) {
                
                // 選択した全てのファイルに対してループ処理をします。
                for (i = 0; i < obj.files.length; i++) {
                    // FileReaderオブジェクトを作成します。これによりブラウザ上でファイルを読み込むことが可能になります。
                    let fileReader = new FileReader();
                    // onloadイベントハンドラを設定します。ファイルが正常に読み込まれたときに呼び出されます。
                    fileReader.onload = ((e)=> {
                        // 読み込んだ画像ファイルをData URLとしてimg要素に設定します。
                        // これにより、選択した画像がブラウザ上でプレビュー表示されます。
                        document.querySelector('#img').innerHTML = '<img src="' + e.target.result + '"  width="100" height="100" >';
                      <% if goods_review.review_image.nil? %>
                        kamera = document.getElementById("kamera");
                        kamera.style.display = 'none';
                      <% else %>
                        aikon = document.getElementById("aikon");
                        aikon.style.display = 'none';
                      <% end %>
                    });
                    // ファイルをData URLとして読み込みます。
                    fileReader.readAsDataURL(obj.files[i]);
                    }
                }
            </script>
            
            <%= form.label :review_image , "アイコンを選択", class: "btn btn--form" %>
            
             <%if goods_review.id.nil? or review_image.nil?%> 
              
            
              <div class = "col-md-6">
                 <%= image_tag '/images/railskame.jpg',size:'150x110',id:"kamera" %>
              </div> 
              <%= form.file_field :review_image , :size=>"40", class: "form_file" ,onchange:"preview(this);" %>
            <%else%> 
              <%= image_tag(url_for(image_of_goods_reviews_path(@goods_review.id)),size: '100x100',id:"aikon") %>
              <%= form.file_field :review_image , :size=>"40", class: "form_file" ,onchange:"preview(this);" %>
            <%end%>

        </div>
    </div>

  <div class="form-group mb-3">
    <%= form.label :review, "レビュー本文（必須）", class: "form-label" %>
    <%= form.text_area :review, placeholder: "レビューを入力してください", class: "form-control", rows: 5 %>
  </div>

  <div class="form-group mb-3">
        <%= form.label :price, "価格（必須）", class: "form-label" %>
        <%= form.text_field :price %> 
    </div>  
      
  
  <div class="form-group mb-3">
    <%= form.label :category_id, "カテゴリー（必須）", class: "form-label" %>
    <%= form.select :category_id, Category.all.map { |category| [category.name, category.id] }, { prompt: "お店のカテゴリーを入力してください" }, class: "form-select" %>
  </div>

  <%# <div class="field">
    <%= form.label :user_id %>
    <%# <%= form.number_field :user_id %>
  <%# </div> %>

  <%# <div class="field">
    <%= form.label :group_id %>
    <%# <%= form.number_field :group_id %>
  <%# </div>  %>

  <%# <div>
    <%= session["selected_group_id_#{current_user.id}"]%>
  <%# </div> %>

<div class="form-group mb-3">
    <%= form.label :evaluation, "評価（必須）", class: "form-label" %>
    <div class="star-rating">
      <%= form.select :evaluation, [["★☆☆☆☆", 1], ["★★☆☆☆", 2], ["★★★☆☆", 3], ["★★★★☆", 4], ["★★★★★", 5]], {}, class: "form-select" %>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit "投稿", class: "btn btn-primary px-5" %>
  </div>
</div>

<% end %>
<style>
h2{
  font-size: 40px;
}
