<p id="notice"><%= notice %></p>

<h1>商品レビュー</h1>

<div class="container mt-4">
  <div class="row">
    <% @goods_reviews.each do |goods_review| %>
      <div class="col-md-4">
        <a href="<%= goods_review_path(goods_review) %>" class="text-decoration-none">
          <div class="card mb-4" style="cursor: pointer;">
            <%= image_tag(url_for(image_of_goods_reviews_path(goods_review)), class: "card-img-top custom-image", style: "width: 100%; height: 80px; object-fit: contain;") %>
            <div class="card-body">
              <h5 class="card-title text-dark"><%= goods_review.title %></h5>
              <%# <p class="card-text text-muted"> %>
                <%# <%= truncate(goods_review.review, length: 200) %>
              <%# </p> %>
            </div>
              <div class="card-footer text-muted">
                <%= time_ago_in_words(goods_review.created_at) %> 前
              </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<br><br>

<%= link_to '商品レビュー投稿', new_goods_review_path, class: "btn btn-light" %>

<style>
  .card {
    height: 200px;
  }

  .custom-image {
    width: 80%;
    height: 80px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: 0.3s;
  }
</style>

