<p id="notice"><%= notice %></p>

<h1>Goods Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Review image</th>
      <th>Review</th>
      <th>Evaluation</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goods_reviews.each do |goods_review| %>
      <tr>
        <td><%= goods_review.title %></td>
        <td><%= image_tag(url_for(image_of_goods_reviews_path(goods_review)),size:'100x100') %></td>
        <td><%= goods_review.review %></td>
        <td><%= goods_review.evaluation %></td>
        <td><%= goods_review.price %></td>
        <td>円</td>
        <td><%= goods_review.category.name %></td>

        <td><%= link_to 'Show', goods_review %></td>
        <td><%= link_to 'Edit', edit_goods_review_path(goods_review) %></td>
        <td><%= link_to 'Destroy', goods_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '商品レビュー投稿', new_goods_review_path %>
