<p id="notice"><%= notice %></p>

<h1>
  <%= @goods_review.title %>
</h1>

<p>
  <%= image_tag(url_for(image_of_goods_reviews_path(@goods_review))) %>
</p>

<h2>
  <strong>レビュー:</strong>
  <%= @goods_review.review %>
</h2>

<h2>
  <strong>価格:</strong>
  <%= @goods_review.price %><%= '円' %>
</h2>

<h3>
  <strong>評価:</strong>
  <%= @goods_review.evaluation %>
</h3>
<%= link_to 'Edit', edit_goods_review_path(@goods_review) %> |
<%= link_to 'Back', goods_reviews_path %>

<h4>コメント</h4>

<%= form_tag("/goods_comments") do %>
  <%= hidden_field :goods_comment, :goods_review_id, value: @goods_review.id %>
  <%= text_area :goods_comment, :comment %>
  <%= submit_tag "コメント追加" %>
<% end %>

<% @goods_review.goods_comments.each do |goods_comment| %>
  <%= image_tag(url_for(image_of_users_path(goods_comment.user_id)),size:'50x50') %>
  <p><%= goods_comment.user.name %><br><%= goods_comment.created_at.strftime('%Y/%m/%d/%t %H:%M:%S') %></P>
  <p><%= goods_comment.comment %></P>
<% end %>

<style>
  h1{
    text-align: center;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 35px;
  }
</style>