<p class="<%= message.id %>">
  <%= link_to message.user.name, users_profile_path(user_id: message.user.id) %>
  <%= link_to(
    image_tag(
      url_for(image_of_users_path(message.user.id)),
      size: '50x50',
      style: 'border-radius: 50%; object-fit: cover; width: 60px; height: 60px;'
    ),
    users_profile_path(user_id: message.user.id)
  ) %>
</p>
<p class="<%= message.id %>" style="font-size: 16px;"><%= message.message %></p>
<p class="<%= message.id %>" style="font-size: 16px;" %><%= message.created_at.strftime("%H:%M") %></p>

<script>
    var message = <%= message.user.id %>;
    var message_user = document.getElementById('current_user');
    var current_user = message_user.getAttribute('data-user_id')

    if (message == current_user){
        $('p.' + <%= message.id %>).css('text-align', 'right');
    }else{
        $('p.' + <%= message.id %>).css('text-align', 'left');
    }
</script>

<script>
    var element = document.getElementById('message_input');
    element.scrollIntoView();
    element.focus();
</script>