
    <div class="fixed-top">
      <div class=row>
        <div class=col-md-2></div>
        <div class=col-md-8>
          
             <h1>
             <%= link_to "＜", chats_path, class: "back-button", style: "margin-right: 10px;" "font-size: 30px;" %>
                <%= @group.name %></h1>
        </div>
        <div class=col-md-2></div>
      </div>
    </div>

<p id="notice"><%= notice %></p>
  <div id="current_user" data-user_id="<%= current_user.id %>"></div>

  <div id="messages" data-group_id="<%= @group.id %>">
    <%= render @messages %>
  </div>


  <form>
    <label style="color: black;" id="target">新しいメッセージを作成</label><br>
    <input type="text" id="message_input" data-behavior="group_speaker" class="form-control">
  </form>
  

  <script>
    // 入力欄に自動的にフォーカスを当てる
    var element = document.getElementById('message_input');
    element.focus();
  </script>


<style>
  h1{
    font-size: 30px;
  }
  </style>



