<p id="notice"><%= notice %></p>

<h1><%= @group.name%></h1>

<div id="current_user" data-user_id="<%= current_user.id %>">
</div>

<div id="messages" data-group_id="<%= @group.id %>">
  <%= render @messages %>
</div>
<form>
  <label style="color: black;" id="target">新しいメッセージを作成</label><br>
  <input type="text" id="message_input" data-behavior="group_speaker" class="form-control">
</form>

<script>
  var element = document.getElementById('message_input');
  element.scrollIntoView();
  element.focus();
</script>


