<h1>ログイン</h1>

<%= form_with model: @session, local: true do |form| %>
    <%= flash[:danger] %>

    <%= form.label :email, 'メールアドレス' %>
    <%= form.email_field :email %>

    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password %>

    <%= form.submit 'ログイン' %>

    <p>アカウントをお持ちでないですか？<%= link_to "登録する",signup_path%></p>
<% end %>
