

    <h1>レチャット</h1>
    <br>
    <br>
<%= form_with model: @session, local: true do |form| %>
    <%= flash[:danger] %>

    <%= form.label :email, 'メールアドレス' %>
        <br>
    <%= form.email_field :email, class: "form-control"  %>
<br>
    <%= form.label :password, 'パスワード' %>
    <br>
    <%= form.password_field :password, class: "form-control"  %>
        <br>
    <br>
    <div class="d-grid gap-2">
    <%= form.submit 'ログイン', class: "btn btn-primary" %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <p class="text-end">アカウントをお持ちでないですか？<%= link_to "登録する",signup_path%></p>
</div>
</div>
<% end %>

<style>
h1{
    text-align: center;
    font-family: 'Kosugi Maru'
}
