<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


        
        <div class="form-group mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, placeholder: "グループの名前を入力してください", class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <div id="img" class="text-center">
            <%= form.label :group_image, "アイコンを選択", class: "btn btn-outline-primary" %>
            <% if group.group_image.nil? %>
              <div class="mb-3">
                <%= image_tag '/images/railskame.jpg', size: '150x110', id: "kamera" %>
              </div>
              <%= form.file_field :group_image, class: "form-control", onchange: "preview(this);" %>
            <% else %>
              <div class="mb-3">
                <%= image_tag(url_for(image_of_groups_path(@group)), size: '100x100', id: "aikon") %>
              </div>
              <%= form.file_field :group_image, class: "form-control", onchange: "preview(this);" %>
            <% end %>
          </div>
        </div>
        
        <div class="field mb-3">
          <%= form.label :introduction, '紹介文', class: "form-label" %>
          <%= form.text_area :introduction, class: "form-control", style: "height:150px;" %>
        </div>
        
        <div class="field mb-3">
          <%= form.label :category_id, class: "form-label" %>
          <%= form.select :category_id, Category.all.map { |category| [category.name, category.id] }, {}, class: "form-select" %>
        </div>

<div class="actions text-center">
  <%= form.submit '保存', class: "btn btn-primary btn-block" %>
</div>


      </div>
      
    </div>

  <script>
    function preview(obj) {
      for (i = 0; i < obj.files.length; i++) {
        let fileReader = new FileReader();
        fileReader.onload = (e) => {
          document.querySelector('#img').innerHTML = '<img src="' + e.target.result + '" width="200" height="200" class="rounded-circle border">';
        };
        fileReader.readAsDataURL(obj.files[i]);
      }
    }
  </script>

<% end %>





