<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
  
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
        <div class="container text-center">
  
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  

  <div class="row">
       
        <div class="col-md-8 border text-center">
              <div class="field">
                 <%= form.label :name %>
                 <%= form.text_field :name %>  
              </div>  
            <div id="img"></div>
            <script>
            // 選択した画像ファイルのプレビューを生成する関数を定義します。
                function preview(obj) {
                
                // 選択した全てのファイルに対してループ処理をします。
                for (i = 0; i < obj.files.length; i++) {
                    // FileReaderオブジェクトを作成します。これによりブラウザ上でファイルを読み込むことが可能になります。
                    let fileReader = new FileReader();
                    // onloadイベントハンドラを設定します。ファイルが正常に読み込まれたときに呼び出されます。
                    fileReader.onload = ((e)=> {
                        // 読み込んだ画像ファイルをData URLとしてimg要素に設定します。
                        // これにより、選択した画像がブラウザ上でプレビュー表示されます。
                        document.querySelector('#img').innerHTML = '<img src="' + e.target.result + '"  width="200" height="200" class="rounded-circle border">';
                    });
                    // ファイルをData URLとして読み込みます。
                    fileReader.readAsDataURL(obj.files[i]);
                    }
                }
            </script>
            <%= form.label :icon , "アイコンを選択", class: "btn btn--form" %>
            <%= form.file_field :icon , :size=>"40", class: "form_file" ,onchange:"preview(this);" %>
        </div>
        <div class="field">
            <%= form.label :introduction %>
            <%= form.text_area :introduction %>
        </div>
  </div>

  

  <%# <div class="field">
    <%= form.label :category_id %>
    <%# <%= form.number_field :category_id %>
    <%# <%= form.select :category_id, Category.all.map { |category| [category.name, category.id]} %> 
  <%# </div>  %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


