<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group image</th>
      <th>Introduction</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= image_tag(url_for(image_of_groups_path(group)),size:'100x100') %></td> 
        <td><%= group.introduction %></td>
        <td><%= group.category_id %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'http://localhost:3000/occupations', occupations_path %></td>
        <td><%= link_to 'http://localhost:3000/select_categories', select_categories_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
