<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group image:</strong>
  <%= image_tag(url_for(image_of_groups_path(@group)),size: '100x100') %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @group.introduction %>
</p>

<p>
  <strong>Category:</strong>
  <%= @group.category_id %>
</p>

<p>
  <strong>Chat</strong>
  <%= link_to 'チャット', chats_path%>
</p>

<p>
  <strong>Review</strong>
  <%= link_to 'レビュー', group_reviews_path(group_id:@group.id) %>
</p>  

<% if @group.chats.blank? %>
  <%= form_with(model: @chat) do |form| %>
    <%= form.hidden_field :group_id, value: @group.id %>
    <%= form.submit %>
  <% end %>
<% else %>

<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
