<p id="notice"><%= notice %></p>
<div style="text-align: center;">
<p>
  <%= image_tag(url_for(image_of_groups_path(@group)),size: '200x200') %>
</p>

<p style="font-size: 30px;">
  <%= @group.name %>
</p>



<p style="font-size: 22px;">
  <%= @group.introduction %>
</p>

<p style="font-size: 20px;">
  <strong>カテゴリー:</strong>
  <%= @group.category.name %>
</p>

<% if @group.chats.blank? %>
  <%= form_with(model: @chat) do |form| %>
    <%= form.hidden_field :group_id, value: @group.id %>
    <%= form.submit %>
  <% end %>
<% end %>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <%= link_to messages_path(chat_id: @chat.id) do %>
        <%= image_tag '/images/chat.jpg', size: '70x70' %>
      <% end %>
      <br>
      <strong>Chat</strong>
    </div>
    <div class="col">
      <%= link_to group_reviews_path(group_id:@group.id) do %>
        <%= image_tag '/images/review.jpg', size: '70x70' %>
      <% end %>
      <br>
      <strong>Review</strong>
    </div>
  </div>
</div>




</div>
<br>

<div style="text-align: right;">
<%= link_to 'Back', :back %>
</div>