<p id="notice"><%= notice %></p>
<div style="text-align: center;">
<p>
  <%= image_tag(url_for(image_of_groups_path(@group)),size: '200x200') %>
</p>

<p style="font-size: 30px;">
  <%= @group.name %>
</p>



<p style="font-size: 22px;">
  <%= @group.introduction %>
</p>

<p style="font-size: 20px;">
  <strong>カテゴリー:</strong>
  <%= @group.category.name %>
</p>

<p>
  <%= link_to chat_path do %>
  <%= image_tag '/images/chat.jpg', size: '70x70' %>
<% end %>
<br>
  <strong>Chat</strong>
</p>

<p>
<%= link_to group_reviews_path(group_id:@group.id) do %>
  <%= image_tag '/images/chat.jpg', size: '70x70' %>
<% end %>
<br>
    <strong>Review</strong>
</p>  


<% if @group.chats.blank? %>
  <%= form_with(model: @chat) do |form| %>
    <%= form.hidden_field :group_id, value: @group.id %>
    <%= form.submit %>
  <% end %>
<% else %>
  <p>
    <strong>Chat</strong>
    <%= link_to 'チャット', chat_path(id:@group.chats[0].id) %>
  </p>

  <p>
    <strong>Review</strong>
    <%= link_to 'レビュー', group_reviews_path(group_id:@group.id) %>
  </p>  
>>>>>>> 6178dbf48965623967765eb0a8d0ea9e83cc83fa
<% end %>
</div>
<div style="text-align: right;">
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', :back %>
</div>