<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div style="display: flex; align-items: center;">
            <%= link_to "＜", chats_path, class: "back-button", style: "margin-right: 10px; font-size: 30px;" %>
    </div>
  </div>

  <div class="spacer" style="margin-top: 250px;"></div>

  <div class="container">
    <div class="col">
      <div class="row d-flex justify-content-around">
        <div class="col text-center">
          <%= link_to messages_path(chat_id: @chat.id) do %>
            <%= image_tag '/images/chat.jpg', size: '70x70' %>
          <% end %>
          <br>
          <strong>Chat</strong>
        </div>
        <div class="col text-center">
          <%= link_to group_reviews_path(chat_id: @chat.id) do %>
            <%= image_tag '/images/review.jpg', size: '70x70' %>
          <% end %>
          <br>
          <strong>Review</strong>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<style>
  .row {
    display: flex;
    justify-content: space-around; /* 子要素を左右均等に配置 */
    align-items: center;          /* 垂直方向で中央揃え */
  }

  .col {
    text-align: center;           /* コンテンツを中央揃え */
  }

  .spacer {
    margin-top: 150px;            /* 空白を調整 */
  }
</style>






<%# (chat_id: @chat.id) %>
<%# (chat_id: @chat.id) %>
<%# session["selected_group_id_#{current_user.id}"] %>
