<p id="notice"><%= notice %></p>

<p>
  <strong>Chat</strong>
  <%= link_to 'チャット', messages_path(chat_id: @chat.id) %>
</p>

<p>
  <strong>Review</strong>
<<<<<<< HEAD
  <%= link_to 'レビュー', group_reviews_path%>
=======
  <%= link_to 'レビュー', store_reviews_path%>
>>>>>>> 1de7059220bf4e734a8b6e456dce4f10ee413e22
</p>  



<%= link_to 'Back', chats_path %>

<%# (chat_id: @chat.id) %>