<%= form_with(model: select_category) do |form| %>
  <% if select_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(select_category.errors.count, "error") %> prohibited this select_category from being saved:</h2>

      <ul>
        <% select_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <% Category.all.each_with_index do |category,i|%>
      <div class="col-md-4 text-center">
        <input type="checkbox" id="select_category_category_id_<%= i %>" name="select_category[category_id][]" value="<%= category.id %>" class="selected_category_image">
        <label for="select_category_category_id_<%= i %>" class="selected_category_image">
          <%= image_tag(url_for(image_of_categories_path(category)),size: '100x100') %>
        </label>
        <%= category.name %>
      </div>
    <% end %>
  </div>

  <%# <div class="field">
    <%= form.label :category_id %>
    <%# <%= form.select :category_id,Category.all.map { |category|[category.name, category.id,]},{},class: "form-control" %> 
  <%# </div>  %>
    
    
      
  <br>
  <div class="d-grid gap-2">
      <%= form.submit '登録',class: "btn btn-primary" %>
  </div>
<% end %>
