<p id="notice"><%= notice %></p>

<h1>グループレビュー</h1>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm//swiper@11/swiper-bundle.min.js"></script>

<div class="swiper-container">
<div class="swiper">
  <div class="swiper-wrapper">
    <% @select_categories.each do |category| %>
      <div class="swiper-slide"><%=
        link_to image_tag(url_for(image_of_categories_path(category.category_id)),size:'100x100'), group_reviews_path(selectedcategory:category.category_id)
        %></div>
    <% end %>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  </div>

  <script>
  const swiper = new Swiper('.swiper',{
    direction: 'horizontal',
    loop: true,
    centeredSlides: true,
    slidesPerView:4.8,
    spaceBetween: 30,
    navigation:{
      nextEl:'.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
  </script>

  <style>
  .swiper-container{
    margin-inline:auto;
    width: auto;
    position: relative;
  }
  .swiper {
    max-width: 80%
  }
  /*前への矢印*/
  .swiper-button-prev{
    left: -30px;
  }
  /*次への矢印*/
  swiper-button-next{
    right: -30px;
  }
  </style>
      
 

 <div class="row">
    <% @goods_review.each do |goods_review| %>
       
          <div class="col-md-6">
            <table>
              <tr>
              <td><%= image_tag(url_for(image_of_goods_reviews_path(goods_review)),size:'100x100') %></td>
              </tr>
              <tr>
              <td><%= goods_review.title%></td>
              </tr>
              <tr>
              <td><%= goods_review.review%></td>
              </tr>
            </table>
            
            
            
          </div>
        
    <% end %>
    <% @store_review.each do |store_review| %>
       
          <div class="col-md-6">
            <table>
              <tr>
              <td><%= image_tag(url_for(image_of_store_reviews_path(store_review)),size:'100x100') %></td>
              </tr>
              <tr>
              <td><%= store_review.title%></td>
              </tr>
              <tr>
              <td><%= store_review.review%></td>
              </tr>
            </table>
            
            
            
          </div>
        
    <% end %>
 </div>

<%= link_to 'レビュー投稿', select_reviews_path %>

<%# <%= link_to 'New Group Review', new_group_review_path %> 
