<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @group_review.category_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_review.group_id %>
</p>

<p>
  <strong>Store review:</strong>
  <%= @group_review.store_review_id %>
</p>

<p>
  <strong>Goods review:</strong>
  <%= @group_review.goods_review %>
</p>

<p>
  <strong>User:</strong>
  <%= @group_review.user_id %>
</p>


<% if current_user == @user %>
<div style="text-align: right;">
  <%= link_to '編集する', edit_group_review_path(@group_review) %>
</div>
<% end%>
