<p id="notice"><%= notice %></p>

<h1>フォロー中レビュー</h1>

<table>
  <h3>商品レビュー</h3>
  <thead>
    <tr>
      <th>商品名</th>
      <th>商品画像</th>
      <th>レビュー</th>
      <th>価格</th>
      <th>評価</th>
    </tr>
  </thead>

  <tbody>
    <% @goods_reviews.each do |goods_review| %>
      <tr>
        <td><%= goods_review.title %></td>
        <td><%= image_tag(url_for(image_of_goods_reviews_path(goods_review)),size:'100x100') %></td> 
        <td><%= goods_review.review %></td>
        <td><%= goods_review.price %></td>
        <td><%= goods_review.evaluation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
    <h3>店舗レビュー</h3>

  <thead>
    <tr>
      <th>店舗名</th>
      <th>店舗画像</th>
      <th>場所</th>
      <th>電話番号</th>
      <th>レビュー</th>
      <th>評価</th>
    </tr>
  </thead>

  <tbody>
    <% @store_reviews.each do |store_review| %>
      <tr>
        <td><%= store_review.title %></td>
        <td><%= image_tag(url_for(image_of_store_reviews_path(store_review)),size:'100x100') %></td>
        <td><%= store_review.spot %></td>
        <td><%= store_review.tell %></td>
        <td><%= store_review.review %></td>
        <td><%= store_review.evaluation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


