<p id="notice"><%= notice %></p>

<h1>Store Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Store review</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_comments.each do |store_comment| %>
      <tr>
        <td><%= store_comment.comment %></td>
        <td><%= store_comment.store_review.title %></td>
        <td><%= store_comment.user.name %></td>
        <td><%= link_to 'Show', store_comment %></td>
        <td><%= link_to 'Edit', edit_store_comment_path(store_comment) %></td>
        <td><%= link_to 'Destroy', store_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store Comment', new_store_comment_path %>
