<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @store_review.title %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag(url_for(image_of_store_reviews_path(@store_review)),class: "rounded-circle",size: '100x100') %>
</p>

<p>
  <strong>場所:</strong>
  <%= @store_review.spot %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @store_review.tell %>
</p>

<p>
  <strong>評価:</strong>
  <%= @store_review.evaluation %>
</p>

<%= link_to 'Edit', edit_store_review_path(@store_review) %> |
<%= link_to 'Back', store_reviews_path %>

<% if @follow.blank? %>
    <%= form_with(model: @follow_new) do |form| %>
        <%= form.hidden_field :followed_user_id, value: @user.id %>
        <%= form.submit 'フォロー' %>
    <% end %>
<% else %>
  <div>フォロー中</div>
  <div>
    <%= link_to 'フォロー解除', followunsubscribe_path(@user.id, method: :delete, data: {confirm: '本当に削除しますか?'}) %>
  </div>
<% end %>

<h4>コメント</h4>

<%= form_tag("/store_comments") do %>
  <%= hidden_field :store_comment, :store_review_id, value: @store_review.id %>
  <%= text_area :store_comment, :comment %>
  <%= submit_tag "コメント追加" %>
<% end %>

<% @store_review.store_comments.each do |store_comment| %>
  <%# <%= image_tag(url_for(image_of_store_reviews_path(@store_review)),size: '100x100') %>
  <%= image_tag(url_for(image_of_users_path(store_comment.user_id)),size:'50x50') %>
  <p><%= store_comment.user.name %></P>
  <p><%= store_comment.created_at.strftime('%Y/%m/%d/%t %H:%M:%S') %></P>
  <p><%= store_comment.comment %></P>
  
<% end %>