<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @store_review.title %>
</p>

<p>
  <strong>Review image:</strong>
  
  <%= image_tag(url_for(image_of_store_reviews_path(@store_review)),size: '100x100') %>
</p>

<p>
  <strong>Review:</strong>
  <%= @store_review.review_image %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @store_review.spot %>
</p>

<p>
  <strong>Tell:</strong>
  <%= @store_review.tell %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @store_review.evaluation %>
</p>

<%= link_to 'Edit', edit_store_review_path(@store_review) %> |
<%= link_to 'Back', store_reviews_path %>

<h4>コメント</h4>

<%= form_tag("/store_comments") do %>
  <%= hidden_field :store_comment, :store_review_id, value: @store_review.id %>
  <%= text_area :store_comment, :comment %>
  <%= submit_tag "コメント追加" %>
<% end %>

<% @store_review.store_comments.each do |store_comment| %>
  <p><%= store_comment.user.name %><br><%= store_comment.created_at.strftime('%Y/%m/%d/%t %H:%M:%S') %></P>
  <p><%= store_comment.comment %></P>
<% end %>