<p id="notice"><%= notice %></p>
<div style="display: flex; align-items: center;">
  <%= link_to "＜", store_reviews_path, class: "back-button", style: "margin-right: 10px;" "font-size: 30px;" %>
</div>
<h1>
  <%= @store_review.title %>
</h1>

<h2>
  <strong>場所:</strong>
  <%= @store_review.spot %>
</h2>

<h2>
  <strong>電話番号:</strong>
  <%= @store_review.tell %>
</h2>

<h3>
  <strong>評価:</strong>
  <%= @store_review.evaluation %>
</h3>


<p>
  <%= image_tag(url_for(image_of_store_reviews_path(@store_review)), style: "max-width: 100%; height: auto;") %>
</p>

<h2>
  <strong>レビュー:</strong>
  <%= @store_review.review %>
</h2>

<% if current_user == @user %>
<div style="text-align: right;">
  <%= link_to '編集する', edit_store_review_path(@store_review) %>
</div>
<% end%>

<h4>コメント</h4>
<%= form_tag("/store_comments") do %>
  <%= hidden_field :store_comment, :store_review_id, value: @store_review.id %>
  <%= text_area :store_comment, :comment, class: 'form-control', id: 'floatingTextarea2', style: 'height:50px' %>
  <div style="text-align: right;">
    <%= submit_tag "コメント追加" %>
    </div>
<% end %>

<% @store_review.store_comments.each do |store_comment| %>
  <%# <%= image_tag(url_for(image_of_store_reviews_path(@store_review)),size: '100x100') %>
  <%= image_tag(url_for(image_of_users_path(store_comment.user_id)),size:'50x50') %>
  <p><%= store_comment.user.name %></P>
  <p><%= store_comment.created_at.strftime('%Y/%m/%d/%t %H:%M:%S') %></P>
  <p><%= simple_format(store_comment.comment) %></P>
  
<% end %>

<style>
  h1{
    text-align: center;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 35px;
  }
</style>
