<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @review_home.category_id %>
</p>

<p>
  <strong>Goods review:</strong>
  <%= @review_home.goods_review_id %>
</p>

<p>
  <strong>Store review:</strong>
  <%= @review_home.store_review_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @review_home.group_id %>
</p>

<%= link_to 'Edit', edit_review_home_path(@review_home) %> |
<%= link_to 'Back', review_homes_path %>
